@using ToDoTimeManager.WebUI.Models.Enums.Input

<div class="input-shell @GetStyleClass() @AdditionalCssClass">
    @if (Icon is not null && IconPosition == InputIconPosition.Left)
    {
        @Icon
    }
    <input type="@GetInputType()"
           value="@Value"
           placeholder="@Placeholder"
           disabled="@Disabled"
           autocomplete="off"
           @oninput="HandleInput" />
    @if (Icon is not null && IconPosition == InputIconPosition.Right)
    {
        @Icon
    }
    @if (IsPassword)
    {
        <button type="button" class="eye-btn" @onclick="ToggleVisibility">
            @if (_showPassword)
            {
                <EyeSlashIcon />
            }
            else
            {
                <EyeFillIcon />
            }
        </button>
    }
</div>