@using ToDoTimeManager.WebUI.Components.Shared.Icons
@using ToDoTimeManager.WebUI.Models
@using ToDoTimeManager.WebUI.Services.Implementations

<div class="custom-toast @ToastModel.AdditionalClass @ToastModel.AnimationClass @(ToastModel.ToastType.ToString().ToLower())">
    <EnvelopeIcon IconSize="35" IconColor="#ffffff"/>
    <div class="toast-message">@ToastModel.Message</div>
    <button class="toast-close-button" @onclick="@ToastModel.RemoveToast">
        <CloseIcon IconSize="35" IconStyle="i-white"/>
    </button>
</div>

@code
{
    [Parameter]
    public ToastModel ToastModel { get; set; } = null!;
}