@using ToDoTimeManager.WebUI.Models
@using ToDoTimeManager.WebUI.Models.Enums

<div class="custom-toast @ToastModel.AdditionalClass @ToastModel.AnimationClass @GetClassType() show">
    <div class="icon-wrap">
        @GetIcon()
    </div>
    <div class="body">
        <div class="heading">@ToastModel.Message</div>
    </div>
    <button class="close" @onclick="@ToastModel.RemoveToast">
        <CloseIcon />
    </button>
</div>

@code
{
    [Parameter]
    public ToastModel ToastModel { get; set; } = null!;

    private RenderFragment GetIcon() => ToastModel.ToastType switch
    {
        ToastType.Success => builder =>
        {
            builder.OpenComponent<SuccessToastIcon>(0);
            builder.CloseComponent();
        }
        ,
        ToastType.Error => builder =>
        {
            builder.OpenComponent<ErrorToastIcon>(0);
            builder.CloseComponent();
        }
        ,
        ToastType.Warning => builder =>
        {
            builder.OpenComponent<WarningToastIcon>(0);
            builder.CloseComponent();
        }
        ,
        _ => builder => { }
    };

    private string GetClassType()
    {
        return ToastModel.ToastType.ToString().ToLower();
    }
}