@using Microsoft.Extensions.Localization
@using ToDoTimeManager.Shared.Enums
@using ToDoTimeManager.WebUI.Components.Shared
@using ToDoTimeManager.WebUI.Components.Shared.Icons
@using ToDoTimeManager.WebUI.Localization
@using ToDoTimeManager.WebUI.Services.Implementations

@page "/"
@attribute [Authorize]
<PageTitle>@Localizer["Home"] - TaskForge</PageTitle>
<Loader IsLoading="IsLoading" />

<div class="main-page-container">
    <div class="main-page-statistic-container">
        <div class="action-buttons-header">
            <select @bind="TimeFilter">
                @foreach (var value in Enum.GetValues<TimeFilter>())
                {
                    <option value="@value">
                        @Localizer[Enum.GetName(value) ?? string.Empty]
                    </option>
                }
            </select>
        </div>
        <div class="statistic-content" style="margin-top: 7px;">
            <div class="time-log-min-width-row main-page-row">
                <div class="row-name main-page-row-name">
                    @Localizer["AllSpentTime"]
                </div>
                <div class="row-value main-page-row-value">
                    @GetTimeSpent()
                </div>
            </div>
            <div class="time-log-min-width-row main-page-row">
                <div class="row-name main-page-row-name">
                    @Localizer["CountOfLogs"]
                </div>
                <div class="row-value main-page-row-value">
                    @MainPageStatistic.TimeLogsForGivenTime.Count
                </div>
            </div>
            <div class="time-log-min-width-row main-page-row">
                <div class="row-name main-page-row-name">
                    @Localizer["AverageTimeOfLogs"]
                </div>
                <div class="row-value main-page-row-value">
                    @GetAverageTimeOfLogs()
                </div>
            </div>
            <div class="time-log-min-width-row main-page-row">
                <div class="row-name main-page-row-name">
                    @Localizer["AverageTimePerDay"]
                </div>
                <div class="row-value main-page-row-value">
                    @GetAverageTimePerDay()
                </div>
            </div>
            <div class="time-log-min-width-row main-page-row">
                <div class="row-name main-page-row-name">
                    @Localizer["UniqueTasks"]
                </div>
                <div class="row-value main-page-row-value">
                    @GetCountOfUniqueTasks()
                </div>
            </div>


        </div>
    </div>

    <div class="main-page-statistic-container">
        <div class="card-name">
            @Localizer["TimeLogsByDataes"]
        </div>
        <div class="statistic-content-calendar">
            @for (var i = 1; i < 32; i++)
            {
                <div class="calendar-day @GetTimeLogBackground(i) @(CurrentDay == i ? "current-day" : string.Empty)">
                    @i
                </div>
            }
        </div>
    </div>
    <div class="main-page-statistic-container">
        <div class="due-date-container">
            @foreach (var dueDate in MainPageStatistic.DueDateTasks)
            {
                <div class="due-date-row @GetClassIfDueDateisToday(dueDate.Key)">
                    <div class="due-date-date">
                        @dueDate.Key.ToLocalTime().ToShortDateString()
                    </div>
                    <div class="due-date-arrow-right">
                        <ArrowLeftIcon IconSize="30" />
                    </div>
                    <div class="due-date-task" @onclick="() => NavigateToTask(dueDate.Value.Id)">
                        <div class="due-date-task-number">
                            #@dueDate.Value.NumberedId
                        </div>
                        <div class="due-date-task-title">
                            @dueDate.Value.Title
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="main-page-statistic-container">
        <div class="statuses-container">
            @foreach (var status in MainPageStatistic.ToDoStatuses)
            {
                <div class="task-block @(Enum.GetName(status.ToDoStatus)+"-css-class")">
                    <h4>@Localizer[Enum.GetName(status.ToDoStatus) ?? string.Empty]</h4>
                    <h1>@status.Count</h1>
                </div>
            }
        </div>
    </div>
</div>
