@page "/profile"
@using Microsoft.Extensions.Localization
@using ToDoTimeManager.Shared.Enums
@using ToDoTimeManager.WebUI.Components.Modals
@using ToDoTimeManager.WebUI.Components.Shared
@using ToDoTimeManager.WebUI.Components.Shared.Icons
@using ToDoTimeManager.WebUI.Localization
@attribute [Authorize]
<PageTitle>@Localizer["Profile"] - TaskForge</PageTitle>
<Loader IsLoading="IsLoading" />

<UserEditModal Show="IsUserEditModalVisible"
               ResultChanged="UserModalStateChanged"
               User="CurrentUser"
               Title="@Localizer["UserEdit"]" />

<ConfirmationModal Show="IsLogOutConfirmationVisible"
                   ConfirmText="@Localizer["ConfirmLogOut"]"
                   Title="@Localizer["Confirmation"]"
                   ResultChanged="LogOutModalStateChanged" />

<ConfirmationModal Show="IsDeleteConfirmationVisible"
                   ConfirmText="@Localizer["ConfirmDelete"]"
                   Title="@Localizer["Confirmation"]"
                   ResultChanged="DeleteModalStateChanged" />



<div class="profile-banner-container"></div>
<div class="rounded-logo">
    <span>@GetFirstLetters()</span>
</div>
<div class="profile-username">@CurrentUser?.UserName</div>
<div class="profile-email">@CurrentUser?.Email</div>
<div class="profile-action-buttons-container">
    <button class="secondary-button" disabled="@IsButtonsDisabled" @onclick="() => ShowModal(nameof(IsUserEditModalVisible))">
        <EditIcon IconSize="25" IconStyle="i-profile" />
        @Localizer["Edit"]
    </button>
    <button class="secondary-button" disabled="@IsButtonsDisabled" @onclick="() => ShowModal(nameof(IsLogOutConfirmationVisible))">
        <LogoutIcon IconSize="25" IconStyle="i-profile"/>
        @Localizer["LogOut"]
    </button>
    <button class="secondary-button" disabled="@IsButtonsDisabled" @onclick="() => ShowModal(nameof(IsDeleteConfirmationVisible))">
        <DeleteIcon IconSize="25" IconStyle="i-profile" />
        @Localizer["DeleteAccount"]
    </button>
</div>

<div class="tasks-statistic-container">
    <div class="new-tasks-block task-block">
        <h4>@Localizer["New"]</h4>
        <h1>@GetCountOfStatistic(ToDoStatus.New)</h1>
    </div>
    <div class="in-progress-tasks-block task-block">
        <h4>@Localizer["InProgress"]</h4>
        <h1>@GetCountOfStatistic(ToDoStatus.InProgress)</h1>
    </div>
    <div class="completed-tasks-block task-block">
        <h4>@Localizer["Completed"]</h4>
        <h1>@GetCountOfStatistic(ToDoStatus.Completed)</h1>
    </div>
    <div class="on-hold-tasks-block task-block">
        <h4>@Localizer["OnHold"]</h4>
        <h1>@GetCountOfStatistic(ToDoStatus.OnHold)</h1>
    </div>
    <div class="cancelled-tasks-block task-block">
        <h4>@Localizer["Cancelled"]</h4>
        <h1>@GetCountOfStatistic(ToDoStatus.Cancelled)</h1>
    </div>
</div>