@using System.Globalization
@using Microsoft.Extensions.Localization
@using ToDoTimeManager.Shared.Enums
@using ToDoTimeManager.WebUI.Components.Shared
@using ToDoTimeManager.WebUI.Components.Shared.Icons
@using ToDoTimeManager.WebUI.Localization
@page "/tasks"
@attribute [Authorize]
<PageTitle>@Localizer["Tasks"] - TaskForge</PageTitle>
<Loader IsLoading="IsLoading" />


<div class="action-buttons-header">
    <div class="task-title">@Localizer["Tasks"]</div>
    <div class="buttons-container">
        <InputText @bind-Value="FilterText" placeholder="@Localizer["Filter..."]"/>
        <select @bind="Filter">
            @foreach (var value in Enum.GetValues<ToDoFilter>())
            {
                <option value="@value">
                    @Localizer[Enum.GetName(value) ?? string.Empty]
                </option>
            }
        </select>
        <button class="primary-button">
            <HistoryIcon IconSize="25" IconStyle="i-profile" />
            @Localizer["LogTime"]
        </button>
        <button class="primary-button">
            <AddIcon IconSize="25" IconStyle="i-profile"/>
            @Localizer["CreateNewTask"]
        </button>
    </div>

</div>
<Divider/>
<div class="tasks-container">
    <div class="tasks-colums-sticky-info">
        <div class="to-do-number">
            @Localizer["Number"]
        </div>
        <div class="to-do-title">
            @Localizer["Title"]
        </div>
        <div class="to-do-status">
            @Localizer["Status"]
        </div>
        <div class="to-do-creted-at">
            @Localizer["CreatedAt"]
        </div>
        <div class="to-do-due-date">
            @Localizer["DueDate"]
        </div>
    </div>
    @if (!FilteredToDos.Any())
    {
        <div class="no-tasks-message">
            @Localizer["NoTasksFound"]
        </div>
    }
    @foreach (var toDo in FilteredToDos)
    {
        <div class="to-do" @onclick="() => GoToTaskDetailPage(toDo.Id)">
            <div class="to-do-number">
                @toDo.NumberedId
            </div>
            <div class="to-do-title">
                @toDo.Title
            </div>
            <div class="to-do-status">
                @{
                    var status = Enum.GetName(toDo.Status) ?? string.Empty;
                }
                @Localizer[status += "Status"]
            </div>
            <div class="to-do-creted-at">
                @toDo.CreatedAt.ToLocalTime().ToString(CultureInfo.CurrentUICulture)
            </div>
            <div class="to-do-due-date">
                @toDo.DisplayDueDate
            </div>
        </div>
        
        <div class="to-do-min-width" @onclick="() => GoToTaskDetailPage(toDo.Id)" style="display: none;">
            <div class="to-do-min-width-row">
                <div class="row-name">
                    @Localizer["Number"]
                </div>
                <div class="row-value">
                    @toDo.NumberedId
                </div>
            </div>
            
            <div class="to-do-min-width-row">
                <div class="row-name">
                    @Localizer["Title"]
                </div>
                <div class="row-value">
                    @toDo.Title
                </div>
            </div>
            
            <div class="to-do-min-width-row">
                <div class="row-name">
                    @Localizer["Status"]
                </div>
                <div class="row-value">
                    @Localizer[status]
                </div>
            </div>
            
            <div class="to-do-min-width-row">
                <div class="row-name">
                    @Localizer["CreatedAt"]
                </div>
                <div class="row-value">
                    @toDo.CreatedAt.ToLocalTime().ToString(CultureInfo.CurrentUICulture)
                </div>
            </div>
            
            <div class="to-do-min-width-row">
                <div class="row-name">
                    @Localizer["DueDate"]
                </div>
                <div class="row-value">
                    @toDo.DisplayDueDate
                </div>
            </div>
        </div>
    }
</div>
