@page "/timeLogs"
@using Microsoft.Extensions.Localization
@using ToDoTimeManager.Shared.Enums
@using ToDoTimeManager.WebUI.Components.Modals
@using ToDoTimeManager.WebUI.Components.Shared
@using ToDoTimeManager.WebUI.Components.Shared.Icons
@using ToDoTimeManager.WebUI.Localization
@attribute [Authorize]
<PageTitle>@Localizer["TimeLogs"] - TaskForge</PageTitle>
<Loader IsLoading="IsLoading" />

<LogTimeModal Title="@Localizer["TimeLog"]"
              Show="IsLogTimeModalVisible"
              ResultChanged="OnLogTimeCreate"
              Task="null"
              BlockTaskNumberInput="false"
              ExistingTimeLog="null"
              IsEditMode="false"/>

@if (EditableTimeLog != null)
{
    <LogTimeModal Title="@Localizer["TimeLogEdit"]"
                  Show="IsLogTimeEditModalVisible"
                  ResultChanged="OnLogTimeEdit"
                  Task="@TaskCurrent"
                  BlockTaskNumberInput="true"
                  ExistingTimeLog="EditableTimeLog"
                  IsEditMode="true" />

    <ConfirmationModal Title="@Localizer["DeleteTimeLog"]"
                       Show="IsDeleteTimeLogModalVisible"
                       ResultChanged="OnDeleteProcesed"
                       ConfirmText="@Localizer["DeleteTimeLogConfirm"]" />
}



<div class="action-buttons-header">
    <div class="task-title">@Localizer["TimeLogs"]</div>
    <div class="buttons-container">
        <InputText @bind-Value="FilterText" placeholder="@Localizer["Filter..."]"/>
        <select @bind="Filter">
            @foreach (var value in Enum.GetValues<TimeFilter>())
            {
                <option value="@value">
                    @Localizer[Enum.GetName(value) ?? string.Empty]
                </option>
            }
        </select>
        <button class="primary-button" @onclick="() => ShowModal(nameof(IsLogTimeModalVisible))">
            <HistoryIcon IconSize="25" IconStyle="i-profile" />
            @Localizer["LogTime"]
        </button>
    </div>

</div>
<Divider />

@if (FilteredLogs.Any())
{
    <div class="time-log-container time-log-example">
        <div class="hours-spent-column">
            @Localizer["SpentTime"]
        </div>
        <div class="hours-spent-column">
            @Localizer["TasksNumber"]
        </div>
        <div>
            @Localizer["LogDescription"]
        </div>
        <div class="log-date-column">
            @Localizer["LogDate"]
        </div>
        <div class="action-column">
        </div>
        <div class="action-column">
        </div>
    </div>

    @foreach (var timeLog in FilteredLogs.OrderByDescending(x => x.LogDate))
    {
        <div class="time-log-container">
            <div class="hours-spent-column">
                @timeLog.HoursSpent
            </div>
            <div class="hours-spent-column">
                @GetTaskNumber(timeLog)
            </div>
            <div>
                @timeLog.LogDescription
            </div>
            <div class="log-date-column">
                @timeLog.LogDate.ToLocalTime()
            </div>
            <div class="action-column" @onclick="() => ShowModal(nameof(IsLogTimeEditModalVisible), timeLog)">
                <EditIcon IconSize="20"/>
            </div>
            <div class="action-column" @onclick="() => ShowModal(nameof(IsDeleteTimeLogModalVisible), timeLog)">
                <DeleteIcon IconSize="20"/>
            </div>
        </div>


        <div class="time-log-min-width" style="display: none;">
            <div class="time-log-min-width-row">
                <div class="row-name">
                    @Localizer["SpentTime"]
                </div>
                <div class="row-value">
                    @timeLog.HoursSpent
                </div>
            </div>
            
            <div class="time-log-min-width-row">
                <div class="row-name">
                    @Localizer["TasksNumber"]
                </div>
                <div class="row-value">
                    @GetTaskNumber(timeLog)
                </div>
            </div>

            <div class="time-log-min-width-row">
                <div class="row-name">
                    @Localizer["LogDescription"]
                </div>
                <div class="row-value">
                    @timeLog.LogDescription
                </div>
            </div>

            <div class="time-log-min-width-row">
                <div class="row-name">
                    @Localizer["LogDate"]
                </div>
                <div class="row-value">
                    @timeLog.LogDate.ToLocalTime()
                </div>
            </div>
            <div class="time-log-min-width-row" style="margin-top: 10px">
                <div class="row-name" style="padding-right: 5px;">
                    <div class="log-time-action-button secondary-button" @onclick="() => ShowModal(nameof(IsLogTimeEditModalVisible), timeLog)">
                        <EditIcon IconSize="20"/>
                        @Localizer["Edit"]
                    </div>
                </div>
                <div class="row-value" style="padding-left: 5px;">
                    <div class="log-time-action-button secondary-button" @onclick="() => ShowModal(nameof(IsDeleteTimeLogModalVisible), timeLog)">
                        <DeleteIcon IconSize="20"/>
                        @Localizer["Delete"]
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="no-tasks-message">
        @Localizer["NoTimeLogsFound"]
    </div>
}


