@using Microsoft.Extensions.Localization
@using ToDoTimeManager.Shared.Models
@using ToDoTimeManager.WebUI.Localization
<div class="modal-overlay" @onclick="OnOverlayClick" hidden="@(!Show)"></div>

<div class="modal-window" hidden="@(!Show)">
    <div class="modal-window-header">
        @Title
    </div>
    <div class="modal-content">
        <div style="width: 100%;">
            <h4>@Localizer["UserName"]</h4>
            <InputText @bind-Value="@InternalUser.UserName" placeholder="@Localizer["Enter..."]" />
        </div>

        <div style="width: 100%;">
            <h4>@Localizer["Email"]</h4>
            <InputText @bind-Value="@InternalUser.Email" placeholder="@Localizer["Enter..."]" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="secondary-button" @onclick="OnCancelClicked">
            @Localizer["Cancel"]
        </button>
        <button class="primary-button" @onclick="OnSaveClicked">
            @Localizer["Save"]
        </button>
    </div>
</div>
@code {

    [Parameter] public User? User { get; set; } = new() { Id = Guid.NewGuid() };
    [Parameter] public Action<ModalResult> ResultChanged { get; set; } = null!;
    [Parameter] public bool Show { get; set; }
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public bool IsPerformedByAdmin { get; set; }

    private User InternalUser { get; set; } = new() { Id = Guid.Empty };

    #region BaseForComponent
    [Inject] private IStringLocalizer<Resource> Localizer { get; set; } = null!;
    public bool IsLoading { get; set; }
    public void ShowLoader()
    {
        IsLoading = true;
        InvokeAsync(StateHasChanged);
    }
    public void HideLoader()
    {
        IsLoading = false;
        InvokeAsync(StateHasChanged);
    }
    #endregion

    protected override void OnParametersSet()
    {
        if (User is not null)
        {
            InternalUser = new User
            {
                Id = User.Id,
                UserName = User.UserName,
                Email = User.Email,
                Password = User.Password,
                UserRole = User.UserRole
            };
        }

        base.OnParametersSet();
    }

    private async Task Close(bool isDataSave)
    {
        Show = false;
        ResultChanged?.Invoke(!isDataSave ? new ModalResult(Show, false) : new ModalResult(Show, true, InternalUser));
        await InvokeAsync(StateHasChanged);
    }

    private void OnOverlayClick()
    {
        _ = Close(false);
    }

    private void OnCancelClicked()
    {
        _ = Close(false);
    }

    private void OnSaveClicked()
    {
        _ = Close(true);
    }

}